.restaurant-map{
    min-height: 80vh;
}
.mapImg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.mapTitle{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.open-list{
    height: 80%;
}