$text-color :rgba($color: #ffffff, $alpha: 0.87);
$primary-bg-color : rgba($color: #ffffff, $alpha: 0.05);

$dark:  hsl(0, 0%, 7%);
$light: rgba($color: #ffffff, $alpha: 0.4);
$jumbotron-color: $text-color;
$jumbotron-bg: rgba($color: #ffffff, $alpha: 0.05);
$list-group-color:$text-color;
$list-group-bg: $dark;
$list-group-border-color: $light;