@import "variable_override";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "photo";
@import "restaurants";
@import "accueil";
@import "variable_override";

.row{
    max-width: 100%;
}
body{
    background-color: hsl(0, 0%, 7%);
    max-width: 100%;
    color: rgba($color: #ffffff, $alpha: 0.87);
}

.container-form{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.menu-nav{
    max-height: 70vh;
}
.contact-first-section{
    min-height: 70vh;
}